<p>
	A news is displayed every 5s and disappears when expired after 60s.
</p>
<div class="p-grid">
	<div class="p-col-fixed">
		<button pButton type="button" label="Start" (click)="onStartButtonClicked()"></button>
	</div>
	<div class="p-col-fixed">
		<button pButton type="button" label="Stop" (click)="onNextButtonClicked()"></button>
	</div>
  	<div class="p-col-fixed">
		<button pButton type="button" label="Add a News" (click)="onAddButtonClicked()"></button>
	</div>
</div>

<p-messages [escape]="false" (valueChange)="onManuallyClosed()"></p-messages>
<h2>Notification list count {{notificationCount}}</h2> 
<div class="p-grid" *ngIf="isNewDisplayed">
  <div class="p-col-fixed">
		<button pButton type="button" label="Previous" (click)="onPreviousButtonClicked()"></button>
	</div>
	<div class="p-col-fixed">
		<button pButton type="button" label="Next" (click)="onNextButtonClicked()"></button>
	</div>	
</div>   
